@use '@styles/theme';

.aircraftSidebar {
  > img {
    width: 100%;
  }

  > header {
    padding: 1rem;
  }

  > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-inline: 1rem;
    text-align: center;
    
    h3 {
      margin-block: 5px;
    }

    div {
      padding-block: 0.5rem;
    }
  }

  > main {
    padding-inline: 1rem;
    padding-bottom: 1rem;

    label {
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    > section {
      display: flex;
      gap: 1rem;

      > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        > span {
          padding-block: 0.5rem;
        }
      }
    }
  }
}

.dark {
  @extend .aircraftSidebar;

  > header {
    background: theme.$dark-secondary;
  }
}

.light {
  @extend .aircraftSidebar;

  > header {
    background: theme.$light-secondary;
  }
}

.airportLink {
  cursor: pointer;
}

.apModes {
  > div {
    display: flex;
    justify-content: space-around;
    padding-block: 0.5rem;

    > span {
      color: red;
      font-weight: bold;
    }
  }
}
