@use 'theme';

body {
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: theme.$light-secondary;
}

/*
  Leaflet or React Leaflet doesn't mention making elements of this class have a height of 100%.
  However the map doesn't show otherwise
*/
.leaflet-container {
  height: 100%;
}
