@use '@styles/theme';

.tooltip {
  position: relative;
  display: inline-flex;

  &:hover .text {
    visibility: visible;
  }
}

.text {
  position: absolute;
  padding: 0.5rem;
  border-radius: 5px;
  background: theme.$white;
  color: theme.$dark-primary;
  white-space: nowrap;
  visibility: hidden;
  z-index: 1000;

  &::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }
}

.top {
  @extend .text;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  
  &::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: theme.$white transparent transparent transparent;
  }
}

.bottom {
  @extend .text;
  top: calc(100% + 5px);
  left: 50%;
  margin-left: -5px;
  transform: translateX(-50%);

  &::after {
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent theme.$white transparent;
  }
}

.left {
  @extend .text;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);

  &::after {
    top: 50%;
    left: calc(100% + 5px);
    margin-top: -5px;
    border-color: transparent transparent transparent theme.$white;
  }
}

.right {
  @extend .text;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);

  &::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent theme.$white transparent transparent;
  }
}
