.settings {
  > section ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    
    > li {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      border-right: 1px solid lightgrey;
      box-sizing: border-box;
      padding-inline: 0.5rem;

      > label {
        display: flex;
        flex-direction: column;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}

.aircraftTooltips {
  display: flex;
  justify-content: space-between;
}
